$laptopTouchPad_drawingTime: 8s;
$laptopTop_drawingTime: 13s;
$laptopScreen_drawingTime: 6s;
$lampCactus_drawingTime: 7s;
$lampCactus_drawingTime: 7s;

$laptopBottom_opacity_delayTime: 3s;
$laptopScreen_opacity_delayTime: 4s;
$laptopTouchPad_opacity_delayTime: 3s;
$laptopKeyboard_opacity_delayTime: 3s;
$lamp_opacity_delayTime: 7s;
$chameleon_opacity_delayTime: 9s;
$letStart_opacity_delayTime: 4.7s;
$background_opacity_delayTime: 5s;

$laptopBottom_opacity_durationTime: 3s;
$laptopScreen_opacity_durationTime: .5s;
$laptopTouchPad_opacity_durationTime: 3s;
$laptopKeyboard_opacity_durationTime: 3s;
$lamp_opacity_durationTime: 1s;
$chameleon_opacity_durationTime: .5s;
$letStart_opacity_durationTime: .5s;
$background_opacity_durationTime: 2s;

$lampCactus_scale_delayTime: 6s;
$lampCactus_scale_durationTime: 2s;
