@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');


@mixin font-normal() {
  font-family: 'Montserrat', sans-serif;;
  font-weight: normal;
}

@mixin font-bold() {
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
}

@mixin font-500() {
  font-family: 'Montserrat', sans-serif;;
  font-weight: 500;
}


@mixin font-size($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}
