<svg class="let-start" viewBox="0 0 136 153" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M75.12 93.658L75.12 60.3121L103.998 76.985L75.12 93.658Z"
          stroke="#551A33"
          class="let-start__g"
          stroke-width="12"/>
    <path d="M58.9052 62.0916V50.4953C58.9052 49.4283 58.3386 48.4417 57.417 47.904L26.9121 30.1077C24.9121 28.9409 22.4004 30.3835 22.4004 32.699V120.859C22.4004 123.165 24.8934 124.608 26.8934 123.461L57.3982 105.959C58.3304 105.424 58.9052 104.431 58.9052 103.357V84.6853C58.9052 83.0284 57.5621 81.6853 55.9052 81.6853H41.9434"
          stroke="#551A33"
          class="let-start__o"
          stroke-width="12"/>
</svg>
