.let-start {

  cursor: pointer;
  opacity: 0;
  animation: occurrence $letStart_opacity_durationTime $letStart_opacity_delayTime linear normal 1 forwards;
  &:hover{
    .let-start{
      &__g, &__o{
        transform: scale(1.02);
      }
    }
  }

  &__o {
    transition: .4s;
    animation: scale-letter 2s 2s linear infinite alternate;
  }

  &__g {
    transition: .4s;
    animation: scale-letter 2s 0s linear infinite alternate;
  }
}

@keyframes scale-letter {
  from {
    stroke: #DFB56B;
  }
  to {
    stroke: #C2913B;
  }
}
