<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="main">
<div class="container">
    <%- include('../../blocks/Laptop/index.ejs'); %>
    <%- include('../../blocks/ChameleonPlay/index.ejs'); %>
</div>

</body>
<script src="assets/js/script.js"></script>
</html>
