.main {
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 50px 50px 90px 50px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url("/assets/img/background.png") no-repeat bottom;
    background-size: cover;
    animation: occurrence $background_opacity_durationTime $background_opacity_delayTime linear normal 1 forwards;
    opacity: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 62.5%, rgba(0, 0, 0, 0) 100%);
    animation: occurrence $background_opacity_durationTime $background_opacity_delayTime linear normal 1 forwards;
    opacity: 0;
  }
}

