<div class="laptop">
    <%- include('../../components/LaptopSVG/index.ejs'); %>
    <div class="laptop__content">
        <%- include('../../components/InputFormAnimation/index.ejs'); %>
        <%- include('../../components/LetStart/index.ejs'); %>
    </div>
</div>

