.laptop{
  position: relative;
  z-index: 100;
  width: 80%;
  max-height: 100%;
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25%;
    width: 21%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

