.lamp {
  filter: brightness(20%);
  transition: .4s;
  width: 100%;

  &_on {
    filter: brightness(100%) drop-shadow(0px -44px 200px rgba(255, 255, 255, 1));

    .lamp__button {
      transform: scale(1);
    }
  }

  path, ellipse {
    pointer-events: none;
    opacity: 0;
    animation: occurrence $lamp_opacity_durationTime $lamp_opacity_delayTime linear normal 1 forwards;
  }

  &__button {
    pointer-events: auto !important;
    transform: scale(1.01);
  }

  &__cactus {
    opacity: 1!important;
    animation: draw-cactus $lampCactus_drawingTime 0s linear normal 1 forwards, scale-cactus $lampCactus_scale_durationTime $lampCactus_scale_delayTime linear normal 1 forwards !important;
    stroke-width: 1;
  }
}

@keyframes let-start_a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes draw-cactus {
  from {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scale-cactus {
  to {
    stroke-width: 15;
  }
}
