<svg class="laptop-svg" id="laptopsvg" viewBox="0 0 1074 675" fill="none"
     xmlns="http://www.w3.org/2000/svg">
    <path d="M140.777 1.00684H933.565H940.7L943.702 1.63917L947.967 3.37684L951.363 5.58843L955.549 9.30074L959.341 14.1188L962.263 20.7536L963.147 27.3094V34.1383V529.927V543.929V557.931V560.336L962.584 563.989L961.604 566.394L959.751 567.378H967.981L1073.23 642.735V662.796L1070.2 665.842L1066.45 667.86L1062.27 669.59L1057.37 671.32L1052.98 673.071L1047.14 674.082L1041.35 674.423H546.047H34.7428H33.0542L26.7299 673.674L23.0558 672.961L18.4246 671.706L13.7067 669.975L8.9206 667.953L3.84375 665.455L1.10547 662.796V642.735L106.44 567.378H112.378H114.859L113.921 565.834L112.984 563.786L112.378 561.257V557.773V546.084V34.1383L112.855 22.2543L114.83 16.3304L118.505 11.1233L122.255 7.32611L127.191 3.57992L132.997 1.4812L140.777 1.00684Z"
          fill="url(#paint0_linear)"
          class="laptop-svg__path-bottom_bg"
    />
    <path d="M963.147 529.927V34.1383V27.3094L962.263 20.7536L959.341 14.1188L955.549 9.30074L951.363 5.58843L947.967 3.37684L943.702 1.63917L940.7 1.00684H933.565H140.777L132.997 1.4812L127.191 3.57992L122.255 7.32611L118.505 11.1233L114.83 16.3304L112.855 22.2543L112.378 34.1383V546.084M963.147 529.927V557.931V560.336L962.584 563.989L961.604 566.394L959.751 567.378M963.147 529.927V543.929L962.584 549.592L960.401 553.475L957.417 556.149L954.195 557.729L950.557 558.326H933.565H140.777H128.09H124.16L120.159 557.773L117.872 556.516L116.443 554.801L114.859 552.515L113.921 550.514L112.378 546.084M112.378 546.084V557.773V561.257L112.984 563.786L113.921 565.834L114.859 567.378M1.10547 642.735L106.44 567.378H112.378H114.859M1.10547 642.735V662.796M1.10547 642.735L2.13983 644.129L3.84375 645.134L5.85723 645.937L8.369 646.521H13.7067H463.247M1073.23 642.735L967.981 567.378H959.751M1073.23 642.735V662.796M1073.23 642.735L1071.71 644.629L1070.2 645.742L1067.66 646.855L1063.74 647.39H1054.7H612.553M1.10547 662.796L3.84375 665.455L8.9206 667.953L13.7067 669.975L18.4246 671.706L23.0558 672.961L26.7299 673.674L33.0542 674.423H34.7428H546.047H1041.35L1047.14 674.082L1052.98 673.071L1057.37 671.32L1062.27 669.59L1066.45 667.86L1070.2 665.842L1073.23 662.796M1.10547 662.796L4.22915 664.468L6.63163 665.455L9.72054 666.252L13.7067 667.022H18.4246H546.047H1054.7H1059.9L1064.62 666.346L1067.66 665.312L1070.2 664.213L1073.23 662.796M114.859 567.378H959.751M463.247 646.521L464.099 646.017L465.026 645.658L466.582 645.449L468.544 645.37L537.76 644.949H607.271C607.729 644.949 608.187 644.992 608.637 645.077V645.077C609.344 645.212 610.026 645.45 610.663 645.783L611.339 646.138L612.553 647.39M463.247 646.521L463.005 648.383L463.247 650.263L464.309 652.643L465.8 654.627L468.544 657.359L471.029 658.51H537.76H603.8L606.483 657.586L608.608 655.614L610.125 653.944L611.339 652.427L612.553 650.15V647.39M195.638 572.025L158.654 606.837H919.05L882.084 572.025H195.638Z"
          class="laptop-svg__path laptop-svg__path-top"
    />
    <path d="M137.666 34.2236V533.291H936.669V34.2236H137.666Z"
          class="laptop-svg__path laptop-svg__path-screen"
    />
    <path d="M137.666 34.2236V533.291H936.669V34.2236H137.666Z"
          fill="url(#paint1_linear)"
          class="laptop-svg__path-screen_bg"
    />
    <path d="M679.43 612.494H394.415L382.172 639.429H692.163L679.43 612.494Z"
          class="laptop-svg__path laptop-svg__path-touch-pad"
    />
    <path d="M679.43 612.494H394.415L382.172 639.429H692.163L679.43 612.494Z"
          fill="url(#paint2_linear)"
          class="laptop-svg__path-touch-pad_bg"
    />
    <g class="laptop-svg__keyboards">
        <path d="M214.928 604.81H170.85L176.077 600.431H219.307L214.928 604.81Z" fill="url(#paint3_linear)"/>
        <path d="M226.654 600.431L222.557 604.81H266.776L269.602 600.431H226.654Z" fill="url(#paint4_linear)"/>
        <path d="M275.959 600.431L273.416 604.81H317.636L319.896 600.431H275.959Z" fill="url(#paint5_linear)"/>
        <path d="M327.525 600.431L324.841 604.81H381.351L382.623 600.431H327.525Z" fill="url(#paint6_linear)"/>
        <path d="M390.252 600.431L388.274 604.81H637.138L635.158 600.431H390.252Z" fill="url(#paint7_linear)"/>
        <path d="M642.698 600.431L644.432 604.81H700.155L697.612 600.431H642.698Z" fill="url(#paint8_linear)"/>
        <path d="M706.051 600.431L708.364 604.81H752.179L749.174 600.431H706.051Z" fill="url(#paint9_linear)"/>
        <path d="M758.747 602.937L758.064 604.81H803.213L801.544 602.937H758.747Z" fill="url(#paint10_linear)"/>
        <path d="M807.417 600.431L810.877 604.81H854.224L850.77 600.431H807.417Z" fill="url(#paint11_linear)"/>
        <path d="M860.701 602.937L859.854 604.81H905.486L903.225 602.937H860.701Z" fill="url(#paint12_linear)"/>
        <path d="M182.576 593.932L178.62 597.746H283.447L286.555 593.932H182.576Z" fill="url(#paint13_linear)"/>
        <path d="M293.901 593.932L291.641 597.746H334.024L336.425 593.932H293.901Z" fill="url(#paint14_linear)"/>
        <path d="M344.195 593.932L342.076 597.746H383.612L385.448 593.932H344.195Z" fill="url(#paint15_linear)"/>
        <path d="M393.218 593.932L391.664 597.746H434.188L435.319 593.932H393.218Z" fill="url(#paint16_linear)"/>
        <path d="M443.089 593.932L441.959 597.746H484.483V593.932H443.089Z" fill="url(#paint17_linear)"/>
        <path d="M492.112 593.932V597.746H534.212V593.932H492.112Z" fill="url(#paint18_linear)"/>
        <path d="M541.841 593.932V597.746H584.789V593.932H541.841Z" fill="url(#paint19_linear)"/>
        <path d="M591.288 593.932L592.418 597.746H635.158L633.529 593.932H591.288Z" fill="url(#paint20_linear)"/>
        <path d="M641.299 593.932L642.698 597.746H685.236L682.976 593.932H641.299Z" fill="url(#paint21_linear)"/>
        <path d="M690.746 593.932L692.865 597.746H734.683L732.422 593.932H690.746Z" fill="url(#paint22_linear)"/>
        <path d="M740.334 593.932L742.736 597.746H784.836L782.293 593.932H740.334Z" fill="url(#paint23_linear)"/>
        <path d="M790.77 593.932L794.16 597.746H897.433L893.619 593.932H790.77Z" fill="url(#paint24_linear)"/>
        <path d="M188.509 588.564L184.695 592.378H263.668L266.776 588.564H188.509Z" fill="url(#paint25_linear)"/>
        <path d="M273.416 588.564L271.438 592.378H313.539L315.658 588.564H273.416Z" fill="url(#paint26_linear)"/>
        <path d="M321.874 588.564L319.896 592.378H362.138L364.115 588.564H321.874Z" fill="url(#paint27_linear)"/>
        <path d="M371.603 588.564L370.19 592.378H412.008L413.138 588.564H371.603Z" fill="url(#paint28_linear)"/>
        <path d="M420.061 588.564L419.354 592.378H460.89L461.737 588.564H420.061Z" fill="url(#paint29_linear)"/>
        <path d="M468.377 588.564L467.671 592.378H510.336L509.771 588.564H468.377Z" fill="url(#paint30_linear)"/>
        <path d="M517.4 588.564V592.378H559.642V588.564H517.4Z" fill="url(#paint31_linear)"/>
        <path d="M566.423 588.564V592.378H609.088L608.099 588.564H566.423Z" fill="url(#paint32_linear)"/>
        <path d="M614.457 588.564L616.152 592.378H658.111L657.122 588.564H614.457Z" fill="url(#paint33_linear)"/>
        <path d="M663.904 588.564L665.74 592.378H707.134L704.591 588.564H663.904Z" fill="url(#paint34_linear)"/>
        <path d="M712.644 588.564L714.763 592.378H756.439L753.896 588.564H712.644Z" fill="url(#paint35_linear)"/>
        <path d="M761.808 588.564L764.916 592.378H805.745L802.354 588.564H761.808Z" fill="url(#paint36_linear)"/>
        <path d="M810.877 588.564L814.08 592.378H891.923L887.12 588.564H810.877Z" fill="url(#paint37_linear)"/>
        <path d="M194.16 583.619L190.911 587.009H255.898L259.43 583.619H194.16Z" fill="url(#paint38_linear)"/>
        <path d="M266.776 583.619L264.233 587.009H304.779L306.616 583.619H266.776Z" fill="url(#paint39_linear)"/>
        <path d="M313.539 583.619L312.267 587.009H352.955L354.932 583.619H313.539Z" fill="url(#paint40_linear)"/>
        <path d="M362.138 583.619L360.584 587.009H401.13L402.966 583.619H362.138Z" fill="url(#paint41_linear)"/>
        <path d="M409.748 583.619L408.476 587.009H449.729L450.718 583.619H409.748Z" fill="url(#paint42_linear)"/>
        <path d="M458.629 583.619L457.216 587.009H498.61V583.619H458.629Z" fill="url(#paint43_linear)"/>
        <path d="M505.815 583.619V587.009H546.22V583.619H505.815Z" fill="url(#paint44_linear)"/>
        <path d="M553.849 583.619V587.009H595.385L593.831 583.619H553.849Z" fill="url(#paint45_linear)"/>
        <path d="M601.742 583.619L603.437 587.009H644.432L642.698 583.619H601.742Z" fill="url(#paint46_linear)"/>
        <path d="M649.352 583.619L651.471 587.009H691.876L690.181 583.619H649.352Z" fill="url(#paint47_linear)"/>
        <path d="M697.612 583.619L699.364 587.009H740.334L738.78 583.619H697.612Z" fill="url(#paint48_linear)"/>
        <path d="M744.996 583.619L747.822 587.009H788.65L786.955 583.619H744.996Z" fill="url(#paint49_linear)"/>
        <path d="M794.16 583.619L796.844 587.009H837.532L835.837 583.619H794.16Z" fill="url(#paint50_linear)"/>
        <path d="M841.064 583.619L843.607 587.009H885.425L881.863 583.619H841.064Z" fill="url(#paint51_linear)"/>
        <path d="M200.094 577.968L196.703 581.5H236.684L239.51 577.968H200.094Z" fill="url(#paint52_linear)"/>
        <path d="M246.997 577.968L244.737 581.5H284.153L286.555 577.968H246.997Z" fill="url(#paint53_linear)"/>
        <path d="M293.901 577.968L291.641 581.5H332.187L334.024 577.968H293.901Z" fill="url(#paint54_linear)"/>
        <path d="M341.37 577.968L339.675 581.5H379.373L381.351 577.968H341.37Z" fill="url(#paint55_linear)"/>
        <path d="M388.274 577.968L386.437 581.5H427.548L428.679 577.968H388.274Z" fill="url(#paint56_linear)"/>
        <path d="M435.319 577.968L434.188 581.5H475.017L475.865 577.968H435.319Z" fill="url(#paint57_linear)"/>
        <path d="M482.222 577.968L482.929 581.5H522.91V577.968H482.222Z" fill="url(#paint58_linear)"/>
        <path d="M530.398 577.968V581.5H570.52V577.968H530.398Z" fill="url(#paint59_linear)"/>
        <path d="M576.312 577.968L577.584 581.5H618.413L617.282 577.968H576.312Z" fill="url(#paint60_linear)"/>
        <path d="M623.64 577.968L625.194 581.5H665.74L663.904 577.968H623.64Z" fill="url(#paint61_linear)"/>
        <path d="M671.109 577.968L673.51 581.5H713.774L711.796 577.968H671.109Z" fill="url(#paint62_linear)"/>
        <path d="M718.154 577.968L720.979 581.5H759.971L758.747 577.968H718.154Z" fill="url(#paint63_linear)"/>
        <path d="M764.916 577.968L768.589 581.5H808.288L805.745 577.968H764.916Z" fill="url(#paint64_linear)"/>
        <path d="M812.526 577.968L816.199 581.5H879.773L875.959 577.968H812.526Z" fill="url(#paint65_linear)"/>
        <path d="M203.952 573.996L202.301 575.883H243.347L244.737 573.996H203.952Z" fill="url(#paint66_linear)"/>
        <path d="M252.312 573.996L250.896 575.883H290.881L292.415 573.996H252.312Z" fill="url(#paint67_linear)"/>
        <path d="M300.435 573.996L299.256 575.883H340.303V573.996H300.435Z" fill="url(#paint68_linear)"/>
        <path d="M348.677 573.996L347.026 575.883H389.134L388.274 573.996H348.677Z" fill="url(#paint69_linear)"/>
        <path d="M396.565 573.996L395.712 575.883H437.022L436.196 573.996H396.565Z" fill="url(#paint70_linear)"/>
        <path d="M445.279 573.996L444.335 575.883H486.561L485.146 573.996H445.279Z" fill="url(#paint71_linear)"/>
        <path d="M493.874 573.996L493.167 575.883L534.212 576.591V573.996H493.874Z" fill="url(#paint72_linear)"/>
        <path d="M541.841 573.996L541.172 576.591H583.045L581.983 573.996H541.841Z" fill="url(#paint73_linear)"/>
        <path d="M590.476 573.996L589.414 576.591H631.405L629.989 573.996H590.476Z" fill="url(#paint74_linear)"/>
        <path d="M639.307 573.996L638.01 576.591H680L677.995 573.996H639.307Z" fill="url(#paint75_linear)"/>
        <path d="M687.077 573.996V576.591H728.714L727.298 573.996H687.077Z" fill="url(#paint76_linear)"/>
        <path d="M735.319 573.996V576.591H777.781L775.776 573.996H735.319Z" fill="url(#paint77_linear)"/>
        <path d="M782.971 573.996V576.591H825.787L824.018 573.996H782.971Z" fill="url(#paint78_linear)"/>
        <path d="M831.92 573.996L831.331 576.591H874.265L872.024 573.996H831.92Z" fill="url(#paint79_linear)"/>
    </g>
    <defs>
        <linearGradient id="paint0_linear" x1="536.964" y1="0.830566" x2="536.964" y2="674.247" gradientUnits="userSpaceOnUse">
            <stop stop-color="#222222"/>
            <stop offset="0.827529" stop-color="#171717"/>
            <stop offset="0.827778" stop-color="#001A2E"/>
            <stop offset="0.840367" stop-color="#000344"/>
            <stop offset="0.842308" stop-color="#C5D0D8"/>
            <stop offset="0.956902" stop-color="#A6B1B9"/>
            <stop offset="0.959516" stop-color="#40474F"/>
            <stop offset="0.988837" stop-color="#6D757D"/>
            <stop offset="0.989098" stop-color="#3C3C3C"/>
            <stop offset="1" stop-color="#343C44"/>
        </linearGradient>
        <linearGradient id="paint1_linear" x1="1006.47" y1="91.0473" x2="207.463" y2="590.115" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9DB5B9"/>
            <stop offset="0.375" stop-color="#BAF6FF"/>
            <stop offset="1" stop-color="#73A79A"/>
        </linearGradient>
        <linearGradient id="paint2_linear" x1="536.964" y1="612.318" x2="536.964" y2="639.252" gradientUnits="userSpaceOnUse">
            <stop stop-color="#B3B3B3"/>
            <stop offset="1" stop-color="#BFBBBB"/>
        </linearGradient>
        <linearGradient id="paint3_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint4_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint5_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint6_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint7_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint8_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint9_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint10_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint11_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint12_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint13_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint14_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint15_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint16_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint17_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint18_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint19_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint20_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint21_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint22_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint23_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint24_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint25_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint26_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint27_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint28_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint29_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint30_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint31_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint32_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint33_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint34_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint35_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint36_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint37_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint38_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint39_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint40_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint41_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint42_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint43_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint44_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint45_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint46_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint47_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint48_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint49_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint50_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint51_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint52_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint53_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint54_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint55_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint56_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint57_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint58_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint59_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint60_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint61_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint62_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint63_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint64_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint65_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint66_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint67_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint68_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint69_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint70_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint71_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint72_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint73_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint74_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint75_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint76_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint77_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint78_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
        <linearGradient id="paint79_linear" x1="196.531" y1="573.82" x2="864.28" y2="608.951" gradientUnits="userSpaceOnUse">
            <stop stop-color="#5B5B5B"/>
            <stop offset="0.220296" stop-color="#B6B6B6"/>
            <stop offset="1" stop-color="#5B5B5B"/>
        </linearGradient>
    </defs>
</svg>
