.laptop-svg {

  &__path {
    stroke: black;
    stroke-width: 0.5;

    &-top {
      animation: top_a $laptopTop_drawingTime 0s linear normal 1 forwards;
    }

    &-screen {
      animation: screen_a $laptopScreen_drawingTime 0s linear normal 1;
      fill: white;
    }

    &-touch-pad {
      animation: touch-pad_a $laptopTouchPad_drawingTime 0s linear normal 1;
    }
  }

  &__path-bottom_bg{
    opacity: 0;
    animation: occurrence $laptopBottom_opacity_durationTime $laptopBottom_opacity_delayTime linear normal 1 forwards;
  }
 &__keyboards{
    opacity: 0;
    animation: occurrence $laptopKeyboard_opacity_durationTime $laptopKeyboard_opacity_delayTime linear normal 1 forwards;
  }
 &__path-touch-pad_bg{
    opacity: 0;
    animation: occurrence $laptopTouchPad_opacity_durationTime $laptopTouchPad_opacity_delayTime linear normal 1 forwards;
  }

  &__path-screen_bg{
    opacity: 0;
    animation: occurrence $laptopScreen_opacity_durationTime $laptopScreen_opacity_delayTime linear normal 1 forwards;
  }

}

@keyframes top_a {
  from {
    stroke-dasharray: 8943;
    stroke-dashoffset: 8943;
  }
  to {
    stroke-dashoffset: 0;
    stroke: rgba(0,0,0,.3);
  }
}

@keyframes screen_a {
  from {
    stroke-dasharray: 5500;
    stroke-dashoffset: 5500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes touch-pad_a {
  from {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
