.chameleon {
  width: 90%;
  position: absolute;
  bottom: 129px;
  right: 5px;
  opacity: 0;
  animation: occurrence $chameleon_opacity_durationTime $chameleon_opacity_delayTime linear normal 1 forwards;
  filter: brightness(50%);
  transition: .4s;

  a {
    cursor: default;
  }

  &_on {
    filter: brightness(100%);
  }
}
