.chameleon-play {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 80vh;
  position: relative;
  min-width: 10%;
  max-width: 10%;
  box-sizing: border-box;
}
