<div class="input-form-animation">
    <div class="input-form-animation__input">
        <div class="input-form-animation__text input-form-animation__text_js"></div>
        <div class="input-form-animation__carriage input-form-animation__carriage_js"></div>
    </div>
</div>
