.input-form-animation {
  &__input {
    height: 30px;
    display: flex;
  }

  &__text {
    @include font-size(30px, 37px);
    @include font-normal;
    color: #5861B3;
  }

  &__carriage {
    height: 100%;
    width: 2px;
    background: #5861B3;
  }
}
